body {
    background: #CCC;
}

.container {
    background: #FFF;
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #555;
    overflow: hidden;
}

.header {
    background-image: url(http://questionnaire.codingsips.com/img/adcos.jpg);
    background-size: cover;
    background-position: center 0px;
    padding: 150px 15px 15px 15px;
    height: 300px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    display: inline-block;
    background: rgba(0, 162, 232, 0.8);
    padding: 5px;
    color: #FFF;
    font-weight: bold;
    border-bottom: 3px solid coral;
    display: inline-block;
    padding-bottom: 5px;
}

.question {
    font-weight: bold;
    color: #00a2e8;
}

label span {
    font-weight: 300;
}

.q-wrapper {
    background: #EEE;
    margin-bottom: 20px;
    padding: 15px;
}

    .q-wrapper .form-group {
        margin-bottom: 5px;
    }
